<main class="bookings-new" data-controller="passenger">
  <div class="card-container">
    <h1>Passenger information</h1>
    <p>Please add the passenger information for the selected flight.</p>
    <br>
    <p>From <%= @selected_flight.departure_airport.location %> (<%= @selected_flight.departure_airport.code %>)
    to <%= @selected_flight.arrival_airport.location %> (<%= @selected_flight.arrival_airport.code %>)
    </p>
    
    <p>Departure: <%= @selected_flight.start_datetime %> </p>
    
    <p>Duration: <%= @selected_flight.duration_minutes / 60 %> hour(s) </p>
    
    <p>Passengers: <%= @selected_number_passengers %></p>
    <br>
    <button data-action="passenger#add">Add Passenger</button>
    <hr>
    
    <%= form_with model:@booking do |form| %>
      <%= form.hidden_field :number_passengers, value: @selected_number_passengers %>
      <%= form.hidden_field :flight_id, value: @selected_flight.id %>
    
    
        <div data-passenger-target="passengers">
          <%= form.fields_for :passengers do |subform| %>
            <div class="passenger-details">
              <%= subform.label :name, "Name:" %>
              <%= subform.text_field :name %>
              <%= subform.label :email, "E-Mail:" %>
              <%= subform.text_field :email%>
              <hr>
            </div>
          <% end %>
        </div>

        <template data-passenger-target="source">
          <%= form.fields_for :passengers, @booking.passengers.build do |subform| %>
    
          <div class="passenger-details">
            <%= subform.label :name, "Name:" %>
            <%= subform.text_field :name %>
            <%= subform.label :email, "E-Mail:" %>
            <%= subform.text_field :email%>
            <hr>
          </div>
        <% end %>
         
        </template>

    
      <div class="button-container"><%= form.button "Finalize Booking" %></div>
    <% end %>
  </div>
</main>